@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #1D1D1D;
  background-image: url("./assets/a.svg");
  color: white;
  font-family: 'Schoolbell', cursive;
}
.entradas{
  background-image: url("https://www.koyeb.com/_next/image?url=%2Fimages%2Fillustrations%2Fhome-scale-performance.webp&w=828&q=75");
}
